---
layout: layout.njk
permalink: 404.html
eleventyExcludeFromCollections: true
---
<main id="blog" class="Content" role="main">
	<article class="Post">
		<header class="Post-header">
			<h1 class="Post-title">Página no encontrada</h1>
		</header>
		<section class="Post-content">
			<a href="/">Volver al inicio</a>
		</section>
	</article>
</main>
